<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

	<title>CV template</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="../profile-templates/1/index.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1 ><span th:text="${userProfile.firstName}">FirstName</span> <span th:text="${userProfile.lastName}">LastName</span></h1>
					<h2><span th:text="${userProfile.designation}">Designation</span></h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><span th:text="${userProfile.email}">email</span></h3>
						<h3><span th:text="${userProfile.phone}">Phone number</span></h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p th:text="${userProfile.summary}" class="enlarge">
								User profile summary
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent" th:each="skill : ${userProfile.skills}">
									<h5 th:text="${skill}">Skill</h5>
								</div>


						</div>
					</div><!--// .yui-gf -->



					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<ul th:each="job : ${userProfile.jobs}">
									<li><h3><span th:text="${job.getFormattedStartDate}">StartDate</span> - <span th:text="${job.currentJob} ? 'Present' : ${job.getFormattedEndDate}" >End date</span></h3></li>
									<li><h3 th:text="${job.company}">Company</h3></li>
									<li><h3 th:text="${job.designation}">Designation</h3></li>
									<br/>
									<ul th:each="responsibility : ${job.responsibilities}">
										<li th:text="'- ' + ${responsibility}">Responsibility</li>
									</ul>
									<br/>
								</ul>

							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u" >
							<ul th:each="education : ${userProfile.educations}">
								<li><h3><span th:text="${education.getFormattedStartDate}">Start date</span> - <span th:text="${education.getFormattedEndDate}" >End date</span></h3></li>
								<li><h3 th:text="${education.college}">College</h3></li>
								<li><h3 th:text="${education.qualification}">Qualification</h3></li>
								<br/>
								<li><h5 th:text="${education.summary}">Summary</h5></li>
								<br/>
							</ul>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">

		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>

